.axure {
    position: relative;
    padding: 3.563rem 0 2.375rem 0;
    background-image: url('../img/axure/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.axure .container {
    position: relative;
    z-index: 2;
}

.axure::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
}

.axure__download {
    margin: 4.25rem auto 0;
}