.button {
    display: block;
    margin: 69px auto 0;
    width: 166px;
    padding: 11px 0;
    background: #EC7979;
    cursor: pointer;
    border: none;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.button:active {
    background: #333333;
    border: 1px solid #333333;
}