.contact {
    padding: 80px 0 44px 0;
}

.contact__form {
    margin: 95px -15px 0;
}

.contact__form-content {
    display: flex;
    justify-content: space-between;
}

.contact__form-block {
    width: 484px;
    margin: 0 15px;
}

.contact__form-item {
    margin-top: 31px;
}

.contact__form-item:nth-child(1) {
    margin-top: 0;
}


.contact__form-block textarea {
    width: 100%;
    height: calc(100% - 18px);
    resize: none;
    padding: 18px 10px 10px;
    font-size: 18px;
    outline: 0;
    border: none;
    background-color: #ffffff;
    border-bottom: 1px solid #BDBDBD;
    color: #BDBDBD;
}

.contact__form-block textarea:focus {
    border-bottom: 1px solid #EC7979;

}

input[id="name_contact"],
input[id="mail_contact"],
input[id="password_conatct"] {
    font-size: 18px;
    height: 46px;
}


.contact__button {
    display: block;
    margin: 69px auto 0;
    width: 166px;
    padding: 11px 0;
    background: #EC7979;
    cursor: pointer;
    border: none;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.contact__button:active {
    background: #333333;
    border: 1px solid #333333;
}