.footer {
    padding: 1.875rem 0 0.9375rem 0;
    background: #000000;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
}

.footer__block {
    display: flex;
    flex-direction: column;
    width: 19.8125rem;
}

.footer__list {
    display: flex;
    justify-content: space-between;

}

.footer__link {
    font-size: 1.4375rem;
    color: rgba(255, 255, 255, 0.7);
}

.footer__descriptipon {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1.125rem;
}