@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    .container {
        max-width: 970px;
    }

    .social__wrapper {
        justify-content: center;
    }

    .social__media {
        text-align: center;
    }

    .social__list {
        margin-top: .875rem;
    }

    .feautures__description {
        padding: 2.8125rem 0 2.8125rem 2.8125rem;
        margin-right: 1.25rem;
        width: 36.8125rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .feautures__text {
        margin-top: 3.125rem;
    }

    .feautures__text-span {
        display: inline;
    }

    .feautures__text-span:nth-child(4) {
        display: block;
        margin-top: 1rem;
    }

    .feautures__img {
        width: 24.6875rem;
    }

    .feautures__img img {
        object-fit: cover;
    }


    .awesome__block {
        width: 19.25rem;
    }

    .pricing__list {
        width: 19.25rem;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 13px;
    }

    .container {
        max-width: 750px;
    }

    .feautures__wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .feautures__img {
        display: none;
    }

    .feautures__tabs {
        width: auto;
        justify-content: center;
    }

    .feautures__content {
        justify-content: center;
    }

    .feautures__description {
        padding: 2.8125rem 0 2.8125rem 0;
        margin-right: 0;
        text-align: center;
    }

    .feautures__button {
        align-self: center;
        margin-top: 2.8125rem;
    }

    .awesome {
        padding: 6.25rem 0 3.125rem 0;
    }

    .awesome__wrapper {
        margin-top: 3.125rem;
        flex-wrap: nowrap;
    }

    .pricing__wrapper {
        margin-top: 0;
        justify-content: center;
    }

    .pricing__card {
        margin-top: 3.125rem;
    }

    .pricing__list {
        width: 26.5rem;
    }

    .pricing__card:last-child {
        margin-top: 3rem;
    }

    .customers {
        padding: 5rem 0 5rem 0;
    }

    .customers__block:last-child {
        margin-top: 3rem;
    }


}

@media (max-width: 767px) {
    .container {
        max-width: 550px;
    }

    .prime {
        position: relative;
        padding: 3.9375rem 0 3.125rem 0;
    }

    .prime__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .prime__block-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 34rem;
        margin: 0 0.938rem;
        text-align: center;
    }

    .prime__title {
        margin-top: 2rem;
        text-align: center;
    }

    .prime__title::after {
        width: 10rem;
        margin: 2.813rem auto 0;
    }

    .prime__logo-link {
        display: none;
    }

    .prime__form {
        margin-top: 3.5rem;
    }

    .social {
        display: none;
    }

    .feautures {
        padding: 3.125rem 0 0 0;
    }

    .feautures__description {
        padding: 2.8125rem 2.125rem 2.8125rem;
    }

    .feautures__button {
        padding: .6875rem 0;
        width: 50%;
        font-size: 1rem;
    }

    .awesome__wrapper {
        margin-top: 0;
        flex-wrap: wrap;
    }

    .awesome__block {
        width: 21.25rem;
        margin-top: 3.125rem;
    }

    .contact__form-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact__form-block {
        width: 20rem;
        margin: 0 0.938rem;
    }

    .contact__form-item {
        margin-top: 3.125rem;
    }

    .contact__form-block:last-child {
        margin-top: 3.125rem;
    }

    .contact__form-block textarea {
        width: 100%;
        height: 11.3125rem;
        resize: none;
        padding: 1.125rem 0.625rem 0.625rem;
        font-size: 1.125rem;
        outline: 0;
        border: none;
        background-color: #ffffff;
        border-bottom: 0.063rem solid #BDBDBD;
        color: #BDBDBD;
    }

    .button {
        width: 50%;
        padding: .6875rem 0;
        font-size: 1rem;
    }

    .download {
        padding: .6875rem 0;
        width: 50%;
        border: .125rem solid #FFFFFF;
    }

    .download:hover {
        background: #e75252;
        border: .125rem solid #e75252;
    }

    .download:active {
        border: .125rem solid #EC7979;
        background: #EC7979;
    }

    .link {
        font-size: 1rem;
    }

    .header__navigation {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        z-index: 10;
    }

    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 2px;
        transition: 0.5s all;
    }

    .hamburger_active span {
        margin-bottom: -2px;
    }

    .hamburger_active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
    }

    .hamburger_active span:nth-child(2) {
        display: none;
    }

    .hamburger_active span:nth-child(3) {
        transform: translateY(3px) rotate(5deg);
    }


}

@media (max-width:575px) {
    html {
        font-size: 14px;
    }

    .container {
        max-width: 320px;
    }

    .title {
        font-size: 1.6rem;
    }

    .title_white {
        font-size: 2.5rem;
        line-height: 2.625rem;
    }

    .download {
        padding: 1.0625rem 0;
        width: 100%;
        border: .125rem solid #FFFFFF;
    }

    .prime__form-content {
        padding: 1.2rem 1.1875rem 3.75rem;
    }

    .prime__form-item:nth-child(2) {
        margin-top: 3rem;
    }

    .feautures__wrapper {
        width: 100%;
    }

    .feautures__title {
        font-size: 1.25rem;
        line-height: 1.6875rem;
    }

    .feautures__text {
        margin-top: 2.5rem;
    }

    .feautures__text-span {
        font-size: .8rem;
        line-height: 1.0625rem;
    }

    .feautures__description {
        padding: 1.9375rem 1rem;
    }

    .feautures__button {
        width: 100%;
    }

    .awesome {
        padding: 3.125rem 0;
    }

    .pricing {
        padding: 3.125rem 0;
    }

    .pricing__list {
        width: 18.75rem;
    }

    .customers {
        padding: 3.125rem 0;
    }

    .customers__wrapper {
        margin: 0 -0.938rem;
    }

    .customers__block {
        margin-top: 4rem;
    }

    .contact__form {
        margin: 3.125rem -0.938rem 0;
    }

    .contact .button {
        margin-top: 3.125rem;
    }

    .contact {
        padding: 3.125rem 0;
    }

    .footer__block {
        width: 18.8125rem;
    }

}