.social {
    padding: 0.875rem 0 1.063rem 0;
    background: #F8EFEF;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -0.938rem;
}

.social__media {
    display: flex;
    flex-direction: column;
    width: 22.813rem;
    margin: 0 0.938rem;
}

.social__icons {
    margin: 0 0.938rem;
}

.social__title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.688rem;
    color: #333333;
}

.social__decription {
    margin-top: 0.875rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.188rem;
    color: #86878B;
}

.social__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 42.75rem;
}

.social__link {
    font-size: 2.625rem;
    color: #86878B;
    opacity: 0.500;
}

.fab {
    transition: all 0.3s ease;
}

.fa-facebook-f:hover {
    color: #4267B2;
    transform: scale(1.5);
}

.fa-twitter:hover {
    color: #1DA1F2;
    transform: scale(1.5);
}

.fa-google-plus-g:hover {
    color: #DB4437;
    transform: scale(1.5);
}

.fa-pinterest:hover {
    color: #E60023;
    transform: scale(1.5);
}

.fa-instagram:hover {
    color: #C13584;
    transform: scale(1.5);
}

.fa-telegram-plane:hover {
    color: #0088CC;
    transform: scale(1.5);
}

.fa-yahoo:hover {
    color: #400090;
    transform: scale(1.5);
}