.social {
    padding: 14px 0 17px 0;
    background: #F8EFEF;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;

}

.social__media {
    display: flex;
    flex-direction: column;
    width: 365px;
    margin: 0 15px;
}

.social__icons {
    margin: 0 15px;
}

.social__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.social__decription {
    margin-top: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}

.social__list {
    display: flex;
    justify-content: space-between;
    width: 684px;
}

.social__link {
    font-size: 42px;
    color: #86878B;
    opacity: 0.500;
}

.fab {
    transition: all 0.3s ease;
}

.fa-facebook-f:hover {
    color: #4267B2;
    transform: scale(1.5);
}

.fa-twitter:hover {
    color: #1DA1F2;
    transform: scale(1.5);
}

.fa-google-plus-g:hover {
    color: #DB4437;
    transform: scale(1.5);
}

.fa-pinterest:hover {
    color: #E60023;
    transform: scale(1.5);
}

.fa-instagram:hover {
    color: #C13584;
    transform: scale(1.5);
}

.fa-telegram-plane:hover {
    color: #0088CC;
    transform: scale(1.5);
}

.fa-yahoo:hover {
    color: #400090;
    transform: scale(1.5);
}