@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('../css/awesome.css');
@import url('../css/pricing.css');
@import url('../css/title.css');
@import url('../css/customers.css');
@import url('../css/axure.css');
@import url('../css/header.css');
@import url('../css/social.css');
@import url('../css/footer.css');
@import url('../css/links.css');
@import url('../css/prime.css');
@import url('../css/label.css');
@import url('../css/button.css');
@import url('../css/contact.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-size: 15px;
}

.container {
    max-width: 73.125rem;
    padding: 0 0.9375rem;
    margin: 0 auto;
}