.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
}

.title::after {
    content: '';
    display: block;
    height: 1px;
    width: 64px;
    margin: 25px auto 0;
    background: #D98943;
}

.decription {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
}

.title_white {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title_white::after {
    content: '';
    display: block;
    height: 1px;
    width: 64px;
    margin: 25px auto 0;
    background: #FFFFFF;
}

.decription_white {
    position: relative;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}