.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
}

.title::after {
    content: '';
    display: block;
    height: .0625rem;
    width: 4rem;
    margin: 1.5625rem auto 0;
    background: #EC7979;
}

.decription {
    margin-top: 1.875rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.1875rem;
    text-align: center;
    color: #86878B;
}

.title_white {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title_white::after {
    content: '';
    display: block;
    height: .0625rem;
    width: 4rem;
    margin: 1.5625rem auto 0;
    background: #FFFFFF;
}

.decription_white {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: rgba(255, 255, 255, 0.8);
}